@charset "utf-8";
/* CSS Document */
body {
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
	color: #000000;
	background-color: #B7F2EB;
	background-repeat: no-repeat;
	background-position: center 40px;
	font-family: cabin-sketch;
	font-style: normal;
	font-weight: 400;
}

#top {
	height: 40px;
	background-image: url(../image/header.jpg);
}
#top #top-main {
	height: 40px;
	width: 82%;
	margin-left: auto;
	margin-right: auto;
}
#top #top-main h1 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	height: 40px;
	width: 90px;
	background-image: url(../image/top1.png);
	background-repeat: no-repeat;
	float: left;
}
#top #top-main h1 a {
	text-indent: -9999px;
	display: block;
	height: 40px;
	width: 85px;
}
#top  #top-main ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-left: 15px;
	list-style-type: none;
	float: left;
	height: 40px;
	line-height: 40px;
}
#top  #top-main ul li {
	padding-right: 5px;
	display: inline;
}
#top #top-main ul {
	width: auto;
}
#top #top-main ul li a {
	color: #000000;
	text-decoration: none;
}
#top #top-main ul li a:hover  {
	text-decoration: underline;
}
#top  #top-main #form1 {
	margin-left: 595px;
	width: 358px;
	height: 40px;
	float: none;
 }
#top  #top-main #form1 .textfield {
	color: #666666;
	height: 25px;
	width: 120px;
	border: 1px solid #666666;
}
#top #top-main #form1 .button {
	background-image: url(../image/button_bg.gif);
	width: 45px;
	height: 20px;
	text-align: right;
}
#danji {
	width: 1000px;
	height: 4200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#danji #wushuang {
	width: 1000px;
	height: 4200px;
}
#danji #wushuang #jieshao {
	width: 800px;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#danji #wushuang #juesesheding {
	width: 770px;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
}
#danji #wushuang #pic1 {
	position: absolute;
	width: 850px;
	height: 478px;
	left: 68px;
	top: 1598px;
}
#danji #wushuang #pic2 {
	position: absolute;
	width: 413px;
	height: 226px;
	left: 23px;
	top: 2109px;
	font-size: 18px;
}
#danji #wushuang #pic3 {
	position: absolute;
	width: 534px;
	height: 313px;
	left: 459px;
	top: 2106px;
}#danji #wushuang #pic4 {
	position: absolute;
	width: 840px;
	height: 451px;
	left: 72px;
	top: 2434px;
}
#danji #wushuang #movie {
	position: absolute;
	left: 50px;
	top: 2900px;
	width: 900px;
	height: 1282px;
	color: #000000;
	font-size: 36px;
	font-family: chewy;
	font-style: normal;
	font-weight: 400;
}
#movie p img {
	margin-left: 17px;
	padding-left: 0px;
	padding-top: 10px;
}
